::-webkit-scrollbar {
  width: 8px;
}
 
::-webkit-scrollbar-track {
  background-color: #aaa;
}
 
::-webkit-scrollbar-thumb {
  background-color: #335ddc;
  border-radius: 8px;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #d9edff;
}
.login-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  max-width: 1000px;
  background-color: white;
  box-shadow: 0 0 40px rgba(0,0,0,0.16);
  overflow: hidden;
  margin: 0 auto;
  border-radius: 12px;
}
#login-form {
  flex: 1 0 100%;
  max-width: 480px;
  width: 100%;
  padding: 60px;
}
#login-form p {
  margin-bottom: 30px;
}
#login-form p.form-title {
  color: #333333;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0;
}
#login-form .ant-form-item-label > label.ant-form-item-required::before {
  display: none;
}
.ant-form-item-control-input-content {
  text-align: left;
}
#login-form .ant-input-affix-wrapper {
  padding: 12px 15px;
}
#login-form_username {
  height: 48px;
}
#login-form .ant-btn {
  height: 42px;
  letter-spacing: 1px;
  border-radius: 6px;
}
.login-form-button {
  width: 100%;
}
.illustration-wrapper {
  display: flex;
  align-items: flex-end;
  max-width: 800px;
  min-height: 100%;
  background-color: #fffdf2;
}
.illustration-wrapper img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .login-box {
    flex-direction: column;
    box-shadow: none;
  }
  .illustration-wrapper {
    max-width: 100%;
    min-height: auto;
  }
  #login-form {
    max-width: 100%;
  }
}
.login-button {
  width: 50%;
  border-radius: 0;
  border-top-left-radius: 12.5px;
  border-bottom: none;
  background: linear-gradient(to bottom, rgba(117, 117, 117, 0.3) , rgba(255, 255, 255, 0.5) );
  color: rgba(107, 107, 107, 0.5);
}

.login-button2 {
  width: 50%;
  border-radius: 0;
  border-top-right-radius: 12.5px;
  border-bottom: none;
  background: linear-gradient(to bottom, rgba(117, 117, 117, 0.3) , rgba(255, 255, 255, 0.5) );
  color: rgba(107, 107, 107, 0.5);
}

.search-bar {
  width: 1000px;
  padding: 15px 0 15px 10px;
}

.login-box1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  width: 1000px;
  height: 200px;
  background-color: white;
  box-shadow: 0 0 40px rgba(0,0,0,0.16);
  overflow: hidden;
  margin: 0 auto;
  border-radius: 12px;
}

.admin-button {
  width: 200px;
  height: auto;
  align-items: center;
  justify-content: space-between;
}

.adminlandtitle {
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #d9edff;
    color: #333333;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
  }

  .login-page1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: #d9edff;
  }

  .text-box {
    width: 300px;
  }

  .table {
    width: 100%;
  }
  
  .navbar {
    display: flex;
    flex-direction:column;
    background-color: #195caa;
    height:   40px;
    padding: 40px;
  }

  .navbutton {
    align-self: flex-end;
  }

  .navtext {
    position: absolute;
    top: 10px;
    left: 35%;
    color: #d9edff;
    font-size: xx-large;
  }

  .adminnavtext {
    position: absolute;
    top: 10px;
    left: 42%;
    color: #d9edff;
    font-size: xx-large;
  }

  .adminlogin-button2:disabled {
    width: 50%;
    border-radius: 0;
    border-top-right-radius: 12.5px;
    border-bottom: none;
    background-color: transparent;
    color: black;
  }

  .userlogin-button:disabled {
    width: 50%;
    border-radius: 0;
    border-top-left-radius: 12.5px;
    border-bottom: none;
    background-color: transparent;
    color: black;
  }

  .date-div {
    text-indent: 28.7%;
  }